
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}
section{
    min-height: 100vh;
  
}
body{
    background-image: url("C:\Users\palan\OneDrive\Desktop\web developer\project 3\img\image\image.jpg") !important;
}